<style>
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
</style>

:root {
    font-family: 'Abel', sans-serif;
}

body {
    font-family: 'Abel', sans-serif;
    background-color: black;
    color: white;
}

.banner {
    background-image: url(../img/black.jpg);
    background-position: center;
    background-size: cover;
}

.menu a {
    width: 400px;
    text-decoration: none;
}

.menu a:hover {
    font-weight: bold;
}

.blue-text {
    color: blue;
}

p {
    color: blue;
}

td {
    color: blue;
}

.white-text {
    color: white;
}

#disciplines div {
    background-color: blue;
    color: white;
}

.smaller-image {
    max-width: 600px;
    display: block;
}