@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
    font-family: 'Abel', sans-serif;
    --main-color: #ffffff;
    --accent-color: #1c38ba;
}

body {
    background-color: #1a1a1a;
    color: #ffffff;
    margin: auto;
}

header {
    background-image: url(../img/black.jpg);
    background-position: center;
    background-size: cover;
    min-height: 600px;
}

.burger-icon {
    font-size: 1.5rem;
}

#burger-checkbox {
    display: none;
}

.menu a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px;
    padding: 5px;
}

.menu a:hover {
    font-weight: bold;
    color: var(--accent-color);
}

header nav .menu {
    display: none;
}

header nav input:checked ~ .menu {
    display: block;
}

@media (min-width: 800px) {

    .burger-icon {
        display: none;
    }

        header nav input:checked ~ .menu {
        display: flex;
    }

    header nav {
        display: flex;
    }

    header nav .menu {
        display: flex;
        flex: 1;
        justify-content: space-around;
        align-items: center;
    }

}

.smaller-image {
    max-width: 600px;
    display: block;
}

